<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <% include partial/header %> 
    <main>
        <% if(articles.length){ %>
            <% articles.forEach(a => { %>
                <section class="article-index container">
                    <div>
                        <a href="/articles/<%= a.id %> ">
                            <h2>
                                <%= a.title %> 
                            </h2>
                        </a>
                    </div>
                </section>
            <%  }) %> 
        <% }else{ %>
            <h2>
                No Article Present
            </h2> 
        <% } %> 
    </main>
    <% include partial/footer %>  
</body>
</html>